$(FileObject:one)$(FilePattern:Index/bugs.html)
<html><head><TITLE>List of Buggy Classes</TITLE><BASE TARGET="_parent" ></head>
<body BGCOLOR=#FFFFFF>

$(set:toroot=..)
$(include:topbar.stmpl)

&nbsp;<p>

<CENTER>
<TABLE BORDER=3 CELLPADDING=10>
<TR> <TD ALIGN=CENTER><B>Class</B></TD> <TD ALIGN=CENTER><B>Item</B></TD> <TD ALIGN=CENTER><B>Description</B></TD> </TR>
$(forall:class:$(ifset:classbugs:
<tr><td colspan="2">Class <A HREF="$(MakeFilename:../Develop/Class/%.html)">$(ObjectName)</A></td><td>$(classbugs)</td></tr>)
$(set:inclass=$(ObjectName))$(set:infile=$(MakeFilename:../Develop/Class/%.html))
$(forall:method:$(ifset:bug:
<tr><td><A HREF="$(infile)">$(inclass)</A></td><td><A HREF="$(infile)#$(href)">$(ObjectName)</A></td><td>$(bug)</td></tr>
)))
</TABLE>
</CENTER>

$(include:footer.stmpl)

</body>
</html>
