$(FileObject:namespace)$(FilePattern:Develop/Class/%.html)$(silent:
$(set:refPattern=%.html)
$(set:title=Developer Documentation)
$(set:pagemode=develop)
$(set:othpagemode=user)
$(set:modeMethod=scope)
$(define:mkhref:$(MakeFilename:%.html))
$(define:othref:$(MakeFilename:../../Basic/Class/%.html))
$(define:chkacc:%arg%)
$(set:hdrcolour=#00DF5F)
)$(include:namespace.stmpl)
