$(FileObject:file:../examples/*)$(FilePattern:Examples/%.html)
<html>
<head><TITLE>$(FullName)</TITLE></head><body BGCOLOR=#FFFFFF>

$(set:toroot=..)$(set:othlink=../../examples/$(file))$(set:othname=SOURCE)
$(include:topbar.stmpl)

$(silent:
$(set:autoLink=on)
$(set:refPattern=../Basic/Class/%.html)
)<pre><code>
$(AutoLink:$(htmlsafe:$(include:$(dir)/$(file))))
</code></pre>

$(include:footer.stmpl)

</body>
</html>
