$(FileObject:function)$(FilePattern:Basic/Class/%.html)$(silent:
$(set:refPattern=%.html)
$(set:title=User Documentation)
$(set:hdrcolour=#007FFF)
$(set:pagemode=user)
$(set:othpagemode=develop)
$(set:modeMethod=scope_user)
$(define:mkhref:$(MakeFilename:%.html))
$(define:othref:$(MakeFilename:../../Develop/Class/%.html))
$(define:chkacc:$(if:$access=public:%arg%))
)$(include:function.stmpl)
