$(FileObject:one)$(FilePattern:Index/basic.html)
<html><head><TITLE>List of Basic Classes</TITLE><BASE TARGET="_parent" ></head>
<body BGCOLOR=#FFFFFF>

$(set:toroot=..)
$(include:topbar.stmpl)

&nbsp;<p>

<CENTER>
<TABLE BORDER=3 CELLPADDING=10>
<TR> <TD ALIGN=CENTER><B>Class</B></TD> <TD ALIGN=CENTER><B>Maintainer</B></TD> <TD ALIGN=CENTER><B>Description</B></TD> </TR>
$(forall:class:$(if:$userlevel=Basic:
<tr><td><A HREF="$(MakeFilename:../Basic/Class/%.html)">$(ObjectName)</A></td><td>$(author)</td><td>$(brief) </td></tr>
))
</TABLE>
</CENTER>

$(include:footer.stmpl)

</body>
</html>
