$(FileObject:function)$(FilePattern:Develop/Class/%.html)$(silent:
$(set:refPattern=%.html)
$(set:title=Developer Documentation)
$(set:hdrcolour=#00DF5F)
$(set:pagemode=develop)
$(set:othpagemode=user)
$(set:modeMethod=scope)
$(define:mkhref:$(MakeFilename:%.html))
$(define:othref:$(MakeFilename:../../Basic/Class/%.html))
$(define:chkacc:%arg%)
$(ifset:docentry:$(MakeDocNode:$(docentry)))
$(else:$(ifset:author:$(MakeDocNode:undocumented.$(author)))
       $(else:$(MakeDocNode:undocumented.anonymous)))
)$(include:function.stmpl)
