$(FileObject:docnode)$(FilePattern:Develop/Index/%.html)
$(define:mkhref:$(MakeFilename:%.html))
<html>
<head><TITLE>$(FullName)</TITLE></head><body BGCOLOR=#FFFFFF>
<table width=100% align=middle><tr><td align=center bgcolor=#007FFF><font size=5 color=white>
$(FullName)
</FONT><br></td></tr><tr><td align=center bgcolor=black><FONT face=helvetica,arial color=white><b>
Centre for Vision, Speech &amp; Signal Processing</b></FONT></td></tr></table>

<table width=100% bgcolor=#C0C0C0><tr>
<td width=25% align=middle border=2><font size=1 face=helvetica,arial>
<a href=../../Develop/Tree/Ravl.html><B>DEVELOP</B></a></font></td>
<td width=25% align=middle border=2><font size=1 face=helvetica,arial>
<a href=../../Index/full.libs.html><B>LIBRARIES</B></a></font></td>
<td width=25% align=middle border=2><font size=1 face=helvetica,arial>
<a href=../../../Home/libraries/amma/amma_search.html><B>AMMA SEARCH</B></a></font></td>
<td width=25% align=middle border=2><font size=1 face=helvetica,arial>
<a href=../../../Home/libraries/amma/amma.html><B>AMMA HOME</B></a></font></td>
</TABLE>

&nbsp;<p>

<H2>$(brief)</H2>
$(ifset:detail:<!-- Begining of EHT content -->
$(detail)
<!-- End of EHT content -->
)
$(ifany:docnode:<H2>Subtopics:</H2>)
$(else:<H2>Node:</H2>)
<TABLE>$(set:parent=)$(set:indent=&nbsp;)
$(for:.:$docentry:$(silent:
		    $(ifset:parent:$(set:parent=$(parent).%arg%)
                                   $(set:indent=$(indent)&nbsp;&nbsp;))
	            $(else:$(set:parent=%arg%)$(set:indent=&nbsp;))
)<tr><td><code>$(indent)</code>$(if:$docentry!=$parent:<A HREF="$(parent).html">%arg%</A></tr>
)$(else:<b>%arg%</b></tr>)
)$(set:indent=$(indent)&nbsp;&nbsp;)
$(forall:docnode:<tr><td><code>$(indent)</code><A HREF="$(mkhref:)">$(ObjectName)</A><td>$(brief)</tr>
)</TABLE>

$(ifany:docleaf,$userlevel=Basic:<H2>Basic Classes:</H2>
<TABLE>
$(forall:docleaf,$userlevel=Basic:
<tr><td><code>&nbsp;</code><A HREF="../Class/$(content)">$(ObjectName)</A><td>$(brief)</tr>
)</TABLE>)

$(ifany:docleaf,$userlevel=Normal:<H2>Normal Classes:</H2>
<TABLE>
$(forall:docleaf,$userlevel=Normal:
<tr><td><code>&nbsp;</code><A HREF="../Class/$(content)">$(ObjectName)</A><td>$(brief)</tr>
)</TABLE>)

$(ifany:docleaf,$userlevel=Advanced:<H2>Advanced Classes:</H2>
<TABLE>
$(forall:docleaf,$userlevel=Advanced:
<tr><td><code>&nbsp;</code><A HREF="../Class/$(content)">$(ObjectName)</A><td>$(brief)</tr>
)</TABLE>)

$(ifany:docleaf,$userlevel=Develop:<H2>Develop Classes:</H2>
<TABLE>
$(forall:docleaf,$userlevel=Develop:
<tr><td><code>&nbsp;</code><A HREF="../Class/$(content)">$(ObjectName)</A><td>$(brief)</tr>
)</TABLE>)

$(ifany:docleaf,$userlevel=Default:<H2>Default Classes:</H2>
<TABLE>
$(forall:docleaf,$userlevel=Default:
<tr><td><code>&nbsp;</code><A HREF="../Class/$(content)">$(ObjectName)</A><td>$(brief)</tr>
)</TABLE>)

$(//: **************** Footer ************************ )
<table width=100% align="middle"><tr>
<td align="center" bgcolor="black"><FONT face="helvetica,arial" color="white"><b>
$(ifset:author:Maintainer:$(author),) $(ifset:date:Created: $(date),) Documentation by CxxDoc: $(buildtime)
</b></FONT></td>
</tr></table>
</body>
</html>
